<html>

<head>
	<title>LuLgag</title>
    <link rel="icon" href="https://i.imgur.com/2EiDBoG.png">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src=assets/js/qTiny.js></script>
	<script src=assets/js/rTiny.js></script>
</head>

<body>
	<dump
		_id="{{_id}}"
		sort="{{sort}}"
	></dump>
	{{#if username}}
		<form id=upload_form action=upload method=post enctype=multipart/form-data hidden>
			<input id=upload_form_text name=caption type=text>
			<input id=upload_form_tag name=tag type=text>
			<input id=upload_form_privacy name=privacy type=number>
			<input id=upload_form_file name=image type=file accept="image/x-png,image/gif,image/jpeg">
		</form>
	{{/if}}
	<div id=main>
		<div id=root>
			<div id=sidebar>
                <img style="height: 90px; width: 250px;" src="assets\img\LuLgag.png">
                
                <!--btn for modal login/register-->
                <!--<button button="0" style="margin-left: 28px">LOG IN</button>
                <button button="0" style="margin-left: 28px; background-color: #0198E1">SIGN UP </button>-->
				<div>
					<input id=sidebar_search type=text placeholder=Search>
					<a id=now href="now" button=1>Now</a>
					<a id=hot href="hot" button=1 red>Hot</a>
					<a id=new href="new" button=1 green>New</a>
					<a id=sad href="sad" button=1 purple>Sad</a>
					<a id=old href="old" button=1 orange>Old</a>
				</div>
				{{#if username}}
					<div id=account>
						<center>Hello, {{nickname}}!</center>
						<button id=account_upload button=0>Upload Meme</button>
						<a href="user-{{username}}" button=0>My Memes</a>
						<a href=logout button=0>Logout</a>
					</div>
				{{else}}
					<form action=login method=post>
						<input id=login_uname type=text placeholder=Username name=uname>
						<input id=login_pword type=password placeholder=Password name=pword>
						<input id=login align=center type=submit value=Login button=0>
					</form>
					<form action=register method=post>
						<input id=reg_uname type=text placeholder=Username name=uname>
						<input id=reg_pword type=password placeholder=Password name=pword>
						<input id=reg_cword type=password placeholder="Confirm Password" name=cword>
						<input id=register align=center type=submit value=Register button=0>
					</form>
				{{/if}}
				<p id=cpyr>
					Site Map<br>
					&copy; 2018 LuLgag All Rights Reserved.
				</p>
			</div>
			<div id=deck></div>
		</div>
	</div>
	<div id=info invisible dim>
		<img id=info_preview draggable=false>
		<div hidden>
			<label id=info_tag hidden></label>
			{{#if username}}
				<img id=info_upvote src=assets/img/blank.png draggable=false spritesheet>
				<img id=info_downvote src=assets/img/blank.png draggable=false spritesheet>
				<img id=info_share = src=assets/img/blank.png draggable=false spritesheet hidden>
				<label id=info_rep align=right>0</label>
				<textarea id=info_input placeholder="Comment here."></textarea>
				<button id=info_send class=info_send button=0>Send</button>
			{{/if}}
			<div id=info_space></div>
		</div>
	</div>
	{{#if username}}
		<div id=upload dim invisible>
			<div>
				<img id=upload_img draggable=false>
				<input id=upload_text type=text placeholder=Caption>
				<input id=upload_tag type=text placeholder=Tags>
				<select id=upload_privacy name=privacy>
					<option value=0 selected>Public</option>
					<option value=1>Unlisted</option>
					<option value=2>Private</option>
				</select>
				<input id=upload_cancel type=button value=Cancel button="0">
				<input id=upload_submit type=button value=Submit button="0">
			</div>
		</div>
		<div id=share dim invisible>
			<div>
				<label>Share</label>
				<input id=share_text type=text placeholder=Username>
				<input id=share_cancel type=button value=Cancel button="0">
				<input id=share_submit type=button value=Submit button="0">
			</div>
		</div>
	{{/if}}
	<img id=nightmode src=assets/img/blank.png draggable=false spritesheet>
	<script src=assets/js/junk-san.js></script>
	<script src=assets/js/index.js></script>
</body>

</html>
