<html>

<head>
	<title>LuLgag</title>
    <link rel="icon" href="https://i.imgur.com/2EiDBoG.png">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src=assets/js/qTiny.js></script>
	<script src=assets/js/rTiny.js></script>

</head>

<body>
    <dump _id="{{_id}}" post="{{post}}" has_comments="{{has_comments}}"></dump>
    <div id=info>
        <img id=info_preview src="dat/img/{{post}}" draggable=false> {{#if show}}
        <div>
            {{#if tag}}
            <label id=info_tag>{{tag}}</label>
            {{/if}} {{#if _id}}
            <img id=info_upvote src=assets/img/blank.png draggable=false spritesheet>
            <img id=info_downvote src=assets/img/blank.png draggable=false spritesheet> {{#if owner}}
            <img id=info_share src=assets/img/blank.png draggable=false spritesheet> {{/if}}
            <label id=info_rep align=right>0</label>
            <textarea id=info_input placeholder="Comment here."></textarea>
            <button id=info_send class=info_send button=0>Send</button>
            {{/if}}
            <div id=info_space></div>
        </div>
        {{/if}}
    </div>
    {{#if username}}
    <div id=share dim invisible>
        <div>
            <label>Share this meme to...</label>
            <input id=share_text type=text placeholder=Username>
            <input id=share_cancel type=button value=Cancel button="0">
            <input id=share_submit type=button value=Submit button="0">
        </div>
    </div>
    {{/if}}
    <img id=nightmode src=assets/img/blank.png draggable=false spritesheet>
    <script src=assets/js/junk-san.js></script>
    <script src=assets/js/post.js></script>
</body>

</html>
